/.bundle/
/.yardoc
Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.DS_Store
/examples/log/*
examples/db/*.sqlite3*
*.DS_Store
log/*
.playwright-mcp
.env
flare.sqlite3*
.superset/
